.header {
  font-family: Inter, sans-serif;
  font-weight: 500;
  color: var(--text-secondary);
}

.header__inner {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}