.pizza__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.pizza__card {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}